{% extends "@FOSUser/back_office/layout.html.twig" %}

{% block members %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="background-color: #9cc2cb">
                    <h3 class="box-title" >Members List</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" id="recherche" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>

                            <th>User Name</th>
                            <th>Dernier Login</th>
                            <th>Email</th>

                            <th>Status</th>


                            <th>Action</th>
                        </tr>
                        {% for m in members %}
                            <tr>

                                <td>{{ m.username }}</td>
                                <td>{{ m.lastLogin |date }}</td>
                                <td>{{ m.email }}</td>

                                {% if m.enabled == 1 %}
                                <td><span class="label label-success">Confirmé</span></td>
                                    {% elseif m.enabled == 0 %}
                                        <td><span class="label label-warning">En attente</span></td>
                                    {% else %}
                                    <td><span class="label label-danger">Bloqué</span></td>
                                        {% endif %}

                                <td>  <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Block member</a></li>
                                            <li><a href="#">Email member</a></li>
                                            <li><a href="#">Text member</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('cov_view_member_profile_admin',{'id':m.id}) }}">View profile</a></li>
                                        </ul>
                                    </div></td>
                            </tr>


                        {% else %}
                            <h2>tableau vide</h2>
                        {% endfor %}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>


{% endblock members %}