{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="modal-dialog" >
    <div class="modal-content">


        <div class="modal-body" >
    <h3>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h3>
            </div>
        </div>
    </div>



{% endblock fos_user_content %}
